*.zip
node_modules/
__pycache__/
*.pyc
.vscode/
.idea/
data/e2e_working_dir/
data/test_conflict/
data/test_output/
data/test_docs/
data/returned/
data/previews/
*.db
*.db-wal
*.db-shm
backups/
uploads/

data/working_dir*/
data/e2e_worker_*/

data/test_*
data/test_*/**
data/*.txt
